<!DOCTYPE html>
<html lang="en">

<head>
  <title>IwanttoData</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="../static/assets/css/main.css">
  <link rel="stylesheet" href="../static/assets/css/modal-video.min.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/assets/js/functions-min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    var jQuery13 = jQuery.noConflict();
  </script>
  <script src="../static/assets/js/jquery.svg3dtagcloud.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
</head>

<body>

  <!-- notification for small viewports and landscape oriented smartphones -->
  <div class="device-notification">
    <a class="device-notification--logo" href="#0">
      <img src="../static/assets/img/settings.png" alt="Global">
      <p>GW Bootcamp</p>
    </a>
    <p class="device-notification--message">This page has so much to offer that we must request you orient your device
      to portrait or find a larger screen. You won't be disappointed.</p>
  </div>

  <div class="perspective effect-rotate-left">
    <div class="container">
      <div class="outer-nav--return"></div>
      <div id="viewport" class="l-viewport">
        <div class="l-wrapper">
          <header class="header">
            <a class="header--logo">
              <img src="../static/assets/img/settings.png" href="index.html">
              <p href="/">GW Bootcamp</p>
            </a>
            <!-- <button class="header--cta cta">Hire Us</button> -->
            <div class="header--nav-toggle">
              <span></span>
            </div>
          </header>
          <nav class="l-side-nav">
            <ul class="side-nav">
              <li class="is-active"><span>Home</span></li>
              <li><span>Difference</span></li>
              <li><span>Salary</span></li>
              <li><span>Industry</span></li>
              <li><span>Skills</span></li>
              <li><span>Location</span></li>
              <li><span>Resume</span></li>
              <li><span>The Team</span></li>
            </ul>
          </nav>
          <ul class="l-main-content main-content">
            <li class="l-section section section--is-active">
              <div class="intro">
                <div class="intro--banner">
                  <h1>So you want<br>to explore</br>Data Analysis?</h1>
                  <img class="gif" src="../static/assets/img/pic3.gif">
                  <img src="../static/assets/img/introduction-visual.png" alt="Welcome">
                </div>
                <div class="intro--options">
                  <p>Welcome to our page! Scroll down to learn more about data job listings.</p>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h2>What's the difference?</h2>
                <div class="work--lockup">
                  <ul class="slider">
                    <li class="slider--item slider--item-left">
                      <a class="js-video-button" data-video-id='ywZXpfdqg1o'>
                        <div class="slider--item-image">
                          <img src="../static/assets/img/astronaut.png" alt="Analyst">
                        </div>
                        <p class="slider--item-title">Data Analyst</p>
                        <p class="slider--item-description">They typically help people from across the company
                          understand specific quieries with charts.</p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-center">
                      <a class="js-video-button" data-video-id='0p8N8Lg_4Zs'>
                        <div class="slider--item-image">
                          <img src="../static/assets/img/worker (1).png" alt="Metiew and Smith">
                        </div>
                        <p class="slider--item-title">Data Engineer</p>
                        <p class="slider--item-description">They are versatile generalists who use computer science to
                          help process large datasets. They typically focus on coding, cleaning up data sets, and
                          implementing requests that come from data scientists.</p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-right">
                      <a class="js-video-button" data-video-id='XWetgrNas-k'>
                        <div class="slider--item-image">
                          <img src="../static/assets/img/avatar.png" alt="Alex Nowak">
                        </div>
                        <p class="slider--item-title">Data Scientist</p>
                        <p class="slider--item-description">A data scientist will be able to take data science projects
                          from end to end. They can help store large amounts of data, create predictive modelling
                          processes and present the findings.</p>
                      </a>
                    </li>
                  </ul>
                  <div class="slider--prev">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                      </g>
                    </svg>
                  </div>
                  <div class="slider--next">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="about">
                <h1>Salary Analysis by Job Type </h1>
                <div class="new">
                  <button class="glow-on-hover " style=color:gold; type="button" ;width:150px; height:40px;
                    onclick="changejobType('Data Engineer')">Data Engineer</button>
                  <button class="glow-on-hover" style=color:gold type="button" ;width:150px; height:40px;
                    onclick="changejobType('Data Analyst')">Data Analyst</button>
                  <button class="glow-on-hover" style=color:gold type="button" ;width:150px; height:40px;
                    onclick="changejobType('Data Scientist')">Data Scientist</button>
                  <button class="glow-on-hover" style=color:gold type="button" ;width:150px; height:40px;
                    onclick="changejobType('')">All Job Type</button>
                </div>
                <div class="new1">
                  <div id='vis-container'></div>
                </div>
                <p>We have found that the majority of the job listings offer at least a $100K a year. A significant
                  majority of jobs that offer more the $100K a year are Data Science jobs whereas the majority of jobs
                  that offer less than $100k are Data analysts jobs.</p>
              </div>
            </li>
            <li class="l-section section">
              <div class="hire">
                <h2>What Industries are Looking to Hire You?</h2>
                <div id="myDiv"></div>
                <p>Consulting and business service companies are the top landing spot for most folks in the Data Jobs
                  Market. With Banking and Financial Services and Internet and Software companies falling in line in
                  second, and third place respectively, it's not surprising that these Data Jobs pay so well. </p>
              </div>
            </li>
            <li class="l-section section">
              <div class="hire">
                <h2>What Skills Do You Need?</h2>
                <select id="Dropdown11">
                  <option value="Engineer">Engineer</option>
                  <option value="Analyst">Analyst</option>
                  <option value="Scientist">Scientist</option>
                </select>
                <!-- <div class="new2"> -->
                <div id="plot"></div>
                <!-- </div> -->
                <p>As the preeminent data management language, SQL is the most important coding language for employment
                  candidates
                  seeking positions as Data Engineers and Data Analysts, although it is only a distant fourth for those
                  seeking
                  employment as Data Scientists. For these folks, Python is the most important language due to its wide
                  variety of
                  statistical functions and deep selection of coding libraries.

                </p>
              </div>
            </li>
            <li class="l-section section">
              <div class="hire">
                <h2>Location of the jobs</h2>
                <div class='tableauPlaceholder' id='viz1607795159675' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Jo&#47;JobConcentration&#47;JobConcentration&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='JobConcentration&#47;JobConcentration' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Jo&#47;JobConcentration&#47;JobConcentration&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en' />
                    <param name='filter' value='publish=yes' />
                  </object></div>
                <script
                  type='text/javascript'>                    var divElement = document.getElementById('viz1607795159675'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '900px'; vizElement.style.height = '727px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '900px'; vizElement.style.height = '727px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
              </div>
            </li>
            <li class="l-section section">
              <div class="hire">
                <h1>Resume Analyzer</h1>
                  <!-- FIND A WAY TO NO ACTION -->
                  <!-- <form action="{{ url_for('predict')}}" method = "POST"> -->
                  <textarea id="inputted_resume" name="message" placeholder="Copy and paste your resume here" rows="10" cols="100"
                    required="required" style="background-color: transparent; border-color:white;"></textarea>
                  <br></br>
                  <button id="submit_resumes" type="submit" class="btn btn-primary btn-block btn-large" style="background-color:transparent; border-color:white";>Predict</button>
                  <!-- Bring the button into heran.js . ONCLICK-->

                  <div class="results">
                    
                    <h2 id="display_text">Text</h2> 
                    <!-- Use javascript to add the prediction into the div. -->
                  </div>
              </div>

              <!-- </div> -->
            </li>
            <li class="l-section section">
              <div class="about">
                <h1>The Team</h1>
                <div class="about--options">
                  <!-- <p>Contact us<br></p> -->
                  <a href="https://github.com/AsnaAkram">
                    <h3>Asna</h3>
                  </a>
                  <a href="https://github.com/cce24/">
                    <h3>Colin</h3>
                  </a>
                  <a href="https://github.com/heranmane">
                    <h3>Heran</h3>
                  </a>
                </div>
                <div class="about--option">
                  <a href="0">
                    <h3>Joel</h3>
                  </a>
                  <a href="https://github.com/nguyenkevn/">
                    <h3>Kevin</h3>
                  </a>
                  <a href="https://github.com/SavahnaArellano">
                    <h3>Savahna</h3>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="outer-nav">
      <li class="is-active">Home</li>
      <li>Difference</li>
      <li>Salary</li>
      <li>Industry</li>
      <li>Skills</li>
      <li>Location</li>
      <li>Resume</li>
      <li>The Team</li>
    </ul>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
  <script src="../static/assets/js/functions-min.js"></script>
  <script src="../static/assets/js/heran.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="../static/assets/js/jquery-modal-video.min.js"></script>
  <script>
    $(".js-video-button").modalVideo({
      youtube: {
        controls: 0,
        nocookie: true
      }
    });
  </script>

</body>

</html>